h1, h2, h3, body {
    margin: 0;
}

#header {

}
#header .container {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
}
nav {
    position: absolute;
    top: 0;
    right: -100vh;
    display: none;
}
.openBurgerNav {
    right: 0;
    display: block;
}
#header ul {
    font-size: 2rem;
    margin: 0;
    height: 100vh;
    width: 320px;
    background-color: rgba(163, 147, 55, .1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
#header li {
    margin-bottom: 10px;
    background-color: rgba(121, 91, 240, .5);
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#main {
vertical-align: top;
}
#main .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {

}

.container {
    max-width: 1280px;
    padding: 0 10px 0 10px;
}
:root {
    font-size: 10px;
    --close-left: rotate(0);
    --close-right: rotate(0);
    --top-up: .8rem;
    --top-down: -.8rem;
}
.menu-button span {
    border-bottom: 3px solid cornflowerblue;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 3px;
    display: block;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.openedMenuBar {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}
.menu-button span:after {
    border-bottom: 3px solid cornflowerblue;
    position: absolute;
    top: var(--top-down);
    width: 100%;
    height: 3px;
    display: block;
    content: '';
    transform: var(--close-right);
}

.menu-button span:before {
    border-bottom: 3px solid cornflowerblue;
    position: absolute;
    top: var(--top-up);
    width: 100%;
    height: 3px;
    display: block;
    content: '';
    transform: var(--close-left);
}
.menu-button {
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.closeLeft {
    transition: .3s;
    transform: rotate(-45deg);
    top: 0;
}
.closeRight {
    transition: .3s;
    transform: rotate(45deg);
    top: 0;
}

input {
    display: block;
    margin: 0 auto;
}
form {
    display: block;
}
.displayNone {
    display: none !important;
}
.name-of-form {
    font-size: 2rem;
    text-align: center;
}

.baseFunctional {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting {
    font-size: 2rem;
}

.createLink {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 10px;
}
.createLink p {
    font-size: 1em;

}
.createLink_input {
    display: flex;
}

.createLink input {
    font-size: 1.5em;
    margin: 0;
    width: 50%;
    border-radius: 8px 8px 8px 8px;
}
.createLink_input div {
    font-size: 1.5em;
}
.createLink button {
    margin: 0 5px 0 5px;
    border-radius: 8px 8px 8px 8px;

}

.links {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links p {
    font-size: 1em;
}

.listOfLinks {
    width: 70%;
    height: 35vh;
    overflow: auto;
}

.link_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.link {
    font-size: 1em;
}

.statistic-wrapper {
    position: absolute;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    border-radius: 5px;
    font-size: 2rem;
}
.statistic__name {
    position: relative;
    font-size: 1.5em;
}
.statistic__clicks {
    position: relative;
    font-size: 1em;
}
.statistic__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}